.menu-group-header, .menu-group-button{
  display: flex;
}

.menu-group-header > * {
  padding: 10px 40px;
  cursor: pointer;
}

.menu-group-button > * {
  padding: 10px 20px;
  cursor: pointer;
}

.menu-group-header > *:hover, .menu-group-button > *:hover {
  font-weight: 900;
}