.button-header {
  display: flex;
  align-items: center;
  background-color: rgb(28,31,41);
  border-radius: 500px;
  width: 141;
  overflow: hidden;
}

.button-start {
  border-radius: 10rem;
  border: 0;
  font-weight: 700;
  padding: 16px 24px;
  width: 142px;
  font-family: inter sans-serif;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  cursor: pointer;
}

.button-start:hover {
  font-weight: 700;
}

.menuheaderItem {
  overflow: hidden;
  display: flex;
  width: 0;
}

.menuheaderItem > * {
  padding: 0px 20px
}

