.button-header {
  display: flex;
  align-items: center;
  background-color: rgb(28, 31, 41);
  border-radius: 500px;
  width: auto;
  overflow: hidden;
}
.menuheaderItem {
  overflow: "hidden";
  display: flex;
}

.menuheaderItem > * {
  padding: 10px 20px;
}